
.vibrate {
    i, .icon {
        animation: vibrate .1s infinite;
    }
}
.vibrate-hover:hover {
    animation: vibrate .3s infinite;
}
@keyframes vibrate {
    0% {
        transform: rotateY(0);
    }  
    33% {
        transform: rotateY(25deg);
    }
    66% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-25deg);
    }
}